@model IEnumerable<GreenwichPrimesMeats.Data.Entities.User>;

@{
    ViewData["Title"] = "Employeds";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<p>
    <a asp-action="RegisterEmployed" class="btn btn-outline-primary">New Employed</a>
</p>
<div class="row container-fluid">
    <partial name="_Index" />
</div>