@model GreenwichPrimesMeats.Models.Users.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Add <i class="bi bi-person-fill-add"></i></h2>

<h4>User Admin <i class="bi bi-eyeglasses"></i></h4>
<hr />
<div class="row">
    <partial name="_Register" />
</div>

