@model GreenwichPrimesMeats.Data.Entities.Service;

@{
    ViewData["Title"] = "Register Service";
}
<div class="row">
    <div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ServiceUsers" />
        <input type="hidden" asp-for="Lis" />
        <input type="hidden" asp-for="Schedule " />
        <form asp-action="RegisterService">
            <partial name="_DataService" />

            <div class="form-group mt-2">
                <input type="submit" value="RegisterService" class="btn btn-outline-primary" <i class="bi bi-floppy-fill"></i>
            </div>
        </form>
    </div>
</div>